@model StandardPage

@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using kurs.Models.Pages

<div>
    <h2>@Html.PropertyFor(m => m.Title)</h2>
</div>


<div>
    @Html.PropertyFor(m => m.Area)
</div>



